@media screen and (min-device-aspect-ratio: 9/16) {
  body,
  html {
    margin: 0;
  }

  body {
    background:;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin:0.5em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 2em;
    border-radius:0.250em;
  }
  article {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    margin:1em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    border-radius:0.5em;
    text-align: center;
  }
  aside {
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin:1em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    border-radius:0.5em;
  }
  footer {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    margin:1em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    border-radius:0.5em;
    text-align: center;
  }

  .card {
    background-color: white;
    widht:;
    height:;
    position: relative;
  }

  .card::after {
    background: linear-gradient(to right, #ddd6f3, #faaca8);
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
  }

  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }

  .button {
    background-color: mediumblue;
    border: none;
    border-radius: 0.125em;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
  }

  .profile-picture {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-device-aspect-ratio: 16/9) {

  body,
  html {
    margin: 0;
  }

  body {
    background:;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin:0.5em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 2em;
    border-radius:0.250em;
  }
  article {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    margin:1em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    border-radius:0.5em;
    text-align: center;
  }
  aside {
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin:1em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    border-radius:0.5em;
  }
  footer {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    margin:1em;
    padding:1em;
    font-family: 'Lexend Deca', sans-serif;
    border-radius:0.5em;
    text-align: center;
  }

  .card {
    background-color: white;
    widht:;
    height:;
    position: relative;
  }

  .card::after {
    background: linear-gradient(to right, #ddd6f3, #faaca8);
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
  }

  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }

  .button {
    background-color: mediumblue;
    border: none;
    border-radius: 0.125em;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
  }

  .profile-picture {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
